<div id='categories_list' ng-controller="categoryController" layout="column" layout-fill>	
	<md-content>
		<md-list flex>
			<md-subheader ng-if="categories.length == 0" class="md-no-sticky">
				Nenhuma categoria encontrada.
			</md-subheader>
			<md-subheader ng-if="categories.length == 1" class="md-no-sticky">
				1 resultado
			</md-subheader>
			<md-subheader ng-if="categories.length > 1" class="md-no-sticky">
				{{categories.length}} resultados
			</md-subheader>
			<div ng-repeat="c in categories">
				<md-list-item ng-if="!c.superCategory">
					<div layout="row" style="min-width:200px;">
						<div class="md-list-item-text" layout="column">
							<h3>{{c.name}}</h3>
						</div>
						<md-icon class="material-icons" ng-click="openDialogCategory($event, c, categories)"
						style="margin-left: 10px;">
							<i class="material-icons">edit</i>
						</md-icon>
						<md-icon class="material-icons" ng-click="removeCategory($event, c._id)"
						style="margin-left: 10px;">
							<i class="material-icons">delete</i>
						</md-icon>
					</div>				
				</md-list-item>
				<div ng-repeat="sc in c.subCategories">
					<md-list-item ng-if="!c.superCategory">
						<div layout="row" style="min-width:200px;">
							<div class="md-list-item-text" layout="column">					
								<p style="padding-left:3em">{{sc.name}}</p>
							</div>
							<md-icon class="material-icons" ng-click="openDialogCategory($event, sc, categories)"
							style="margin-left: 10px;">
								<i class="material-icons">edit</i>
							</md-icon>
							<md-icon class="material-icons" ng-click="removeCategory($event, sc._id)"
							style="margin-left: 10px;">
								<i class="material-icons">delete</i>
							</md-icon>
						</div>
					</md-list-item>
					<div ng-repeat="ssc in sc.subCategories">
						<md-list-item ng-if="!c.superCategory">
						<div layout="row" style="min-width:200px;">
							<div class="md-list-item-text" layout="column">
								<p style="padding-left:6em">{{ssc.name}}</p>
							</div>
							<md-icon class="material-icons" ng-click="openDialogCategory($event, ssc, categories)"
							style="margin-left: 10px;">
								<i class="material-icons">edit</i>
							</md-icon>
							<md-icon class="material-icons" ng-click="removeCategory($event, ssc._id)"
							style="margin-left: 10px;">
								<i class="material-icons">delete</i>
							</md-icon>
						</div>
						</md-list-item>
					</div>
				</div>
			</div>
		</md-list>			
	</md-content>		
	<md-button id="fab_add_category" class="md-fab md-fab-bottom-right" aria-label="Add"
	ng-click="openDialogCategory($event, '', categories)">
		<i class="material-icons">add</i>
	</md-button>
</div>