<div id='classes_list' ng-controller="classController" layout="column" layout-fill>	
	<md-content>
		<md-list flex>
			<md-subheader ng-if="classes.length == 0" class="md-no-sticky">
				Nenhuma turma encontrada.
			</md-subheader>
			<md-subheader ng-if="classes.length == 1" class="md-no-sticky">
				1 resultado
			</md-subheader>
			<md-subheader ng-if="classes.length > 1" class="md-no-sticky">
				{{classes.length}} resultados
			</md-subheader>			
			<md-list-item id="{{s._id}}" flex class="list-item" ng-repeat="s in classes"
				ng-click="openDialogClass($event, s)">
				<div class="md-list-item-text" layout="column">					
					<h3>{{s.name}}</h3>
					<!-- <p>{{s.date | date:'dd/MM/yyyy'}}</p>									 -->
				</div>
				<span flex></span>
				<md-icon aria-label="remove class"
				class="md-secondary md-hue-2" ng-click="removeClass($event, s._id)">	
					<i class="material-icons">delete forever</i>
				</md-icon>
				<md-divider></md-divider>
			</md-list-item>
			<md-list-item>
				<div class="md-list-item-text" layout="column">
					<h3>&nbsp</h3>
					<p>&nbsp</p>
				</div>
			</md-list-item>			
		</md-list>
	</md-content>		
	<md-button id="fab_add_class" class="md-fab md-fab-bottom-right" aria-label="Add"
	ng-click="openDialogClass($event, '')">
		<i class="material-icons">add</i>
	</md-button>		
</div>