<div id='invite_list' ng-controller="invitesController" layout="column" layout-fill>
	<md-content>
		<form style="padding:10px;">
			<div layout-gt-sm="row" flex>
				<md-input-container class="md-block" flex>
					<label>Lista de e-mails em formato CSV</label>				
					<textarea ng-model="invites" length="30" rows="10" md-select-on-focus
						ng-required="true">
					</textarea>
				</md-input-container>
			</div>
			<p>Exemplo:</p>
			<p>João da Silva, joaodasilva@email.com</p>
			<p>José de Souza, josedesouza@email.com</p>
		</form>
	</md-content>
	<md-button id="fab_send_invite" class="md-fab md-fab-bottom-right"
	ng-click="openDialogQuestion()">
		<i class="material-icons">send</i>
	</md-button>		
</div>