<md-dialog aria-label="Prova" flex>	
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h2>Avaliação</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel();">			
				<i class="material-icons">clear</i>
			</md-button>
		</div>
	</md-toolbar>
	<!-- Formulário inicial -->
	<div ng-if="form == 'startForm'">	
		<form>
			<md-dialog-content>	
				<md-content layout-padding>				
					<div layout-gt-xs="row">
						<h3 style="text-align:center; width: 100%;"> Pronto para iniciar a avaliação? </h3>
					</div>
				</md-content>	
			</md-dialog-content>
		</form>		
		<md-dialog-actions layout="row">		
			<span flex></span>
			<md-button class="md-raised"  ng-click="cancel()">
				Cancelar
			</md-button>		
			<span flex="5"></span>
			<md-button class="md-raised md-primary" ng-click="startTest()">
				Iniciar!
			</md-button>
			<span flex></span>
		</md-dialog-actions> 
	</div>
	<!-- Formulário de questões -->
	<div ng-if="form == '5AnswerQuestion'">
		<form>
			<md-dialog-content>	
				<md-content layout-padding>				
					<div layout="column">	
						<h3>{{question.wording}}</h3>
						<div layout="row">
							<div flex="33">
							<md-radio-group ng-model="question.answer">
								<md-radio-button value="{{question.answers[0]._id}}"
								ng-disabled="question.disableControls">
									{{question.answers[0].answer}}
								</md-radio-button>							
								<md-radio-button value="{{question.answers[1]._id}}"
								ng-disabled="question.disableControls">
									{{question.answers[1].answer}}
								</md-radio-button>
								<md-radio-button value="{{question.answers[2]._id}}"
								ng-disabled="question.disableControls">
									{{question.answers[2].answer}}
								</md-radio-button>
								<md-radio-button value="{{question.answers[3]._id}}"
								ng-disabled="question.disableControls">
									{{question.answers[3].answer}}
								</md-radio-button>
								<md-radio-button value="{{question.answers[4]._id}}"
								ng-disabled="question.disableControls">
									{{question.answers[4].answer}}
								</md-radio-button>
							</md-radio-group>
							</div>
							<div ng-if="questionChecked" flex="67" layout="column">
								<span class="feedback-span">
								 {{question.answers[0].feedback}}
								</span>
								<span class="feedback-span">
								 {{question.answers[1].feedback}}
								</span>
								<span class="feedback-span">
								 {{question.answers[2].feedback}}
								</span>
								<span class="feedback-span">
								 {{question.answers[3].feedback}}
								</span>
								<span class="feedback-span">
								 {{question.answers[4].feedback}}
								</span>
							</div>
						</div>
						<div style="height:40px;">
							<h3 ng-if="question.right"> Certa resposta! </h3>
							<h3 ng-if="question.right != undefined && question.right == false"> Resposta errada </h3>
						</div>				
					</div>
				</md-content>	
			</md-dialog-content>
		</form>		
		<md-dialog-actions layout="row">		
			<md-button class="md-raised" ng-click="cancel()">
				Cancelar
			</md-button>
			<span flex="5"></span>			
			<md-button class="md-raised" ng-click="checkQuestion(question.answer, question._id)">
				Enviar
			</md-button>
			<span flex="5"></span>			
			<md-button ng-if="questionChecked" class="md-raised md-primary" ng-click="nextQuestion(question.answer)">
				Próxima
			</md-button>
			<span flex></span>
		</md-dialog-actions> 
	</div>
	<!-- Fim de avaliação -->
	<div ng-if="form == 'end of test'">	
		<form>
			<md-dialog-content>	
				<md-content layout-padding>				
					<div layout-gt-xs="row">	
						<h3 style="text-align:center; width: 100%;"> Fim da avaliação </h3>
					</div>
				</md-content>	
			</md-dialog-content>
		</form>		
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button class="md-raised"  ng-click="cancel()">
				Fechar
			</md-button>		
			<span flex></span>		
		</md-dialog-actions> 
	</div>
</md-dialog>