<md-dialog aria-label="Editar avaliação" flex>	
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h2 ng-if="!useFullScreen">Editar avaliação</h2>
			<span ng-if="!useFullScreen"flex></span>
			<input placeholder=" Pesquisar" ng-model="search" flex="70" class="search-dialog">
			<md-button class="md-icon-button" ng-click="refreshList('')">
				<i class="material-icons">refresh</i>
			</md-button>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel();">			
				<i class="material-icons">clear</i>
			</md-button>
		</div>
	</md-toolbar>		
	<form>
		<md-dialog-content>				
			<md-content layout-padding>
				<div layout-gt-xs="row">
					<md-input-container class="md-block" flex>
						<label>Nome:</label>
						<input ng-model="test.name">					
					</md-input-container>					
					<md-datepicker ng-model="test.date" md-placeholder="Aplicação">
          			</md-datepicker>
          		</div>
          		<md-input-container class="md-block">	          		
					<label>Estratégia de aplicação:</label>
					<md-select ng-model="test.strategy">
						<md-option value="fixed_order">
							Por ordem fixa
						</md-option>
						<md-option value="dif_balance">
							Balanço de dificuldade
						</md-option>
					</md-select>
				</md-input-container>		
				<div layout="row">
				<fieldset class="standard" flex>
          			<legend>Questões</legend>  			
					<md-content>					
						<md-list flex style="min-height:100%;">						
							<md-list-item id="{{q._id}}"
							ng-repeat="q in questions | filter:search | orderBy:['-selected', 'priority']" flex>
								<md-input-container>
									<label>#</label>
									<input type="number" ng-model="q.priority" ng-model-options="{ updateOn: 'blur' }"
									style="width: 50px; margin-right: 10px;"/>
								</md-input-container>								
								<div class="md-list-item-text" layout="column"
								style="min-width: 100px;">
									<h4>{{q.subject | limitTo: 100}}</h4>
									<p>{{q.wording | limitTo: 100}}</p>
								</div>
								<span flex></span>
								<div ng-repeat="v in [0]">
									<md-switch ng-model="q.selected" aria-label="questao">
									</md-switch>
								</div>
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
					</md-content>				
				</fieldset>				
				</div>
			</md-content>	
		</md-dialog-content>
	</form>		
	<md-dialog-actions layout="row">
		<md-button ng-click="cancel()">
			Cancelar
		</md-button>
		<span flex></span>		
		<md-button ng-click="saveTest('ok', test._id)">
			Gravar
		</md-button>
	</md-dialog-actions>  
</md-dialog>